# Auto detect text files and perform LF normalization
* text=auto

# Java sources
*.java text diff=java
*.gradle text diff=java
*.gradle.kts text diff=java

# Properties
*.properties text
*.yml text
*.yaml text
*.xml text

# Scripts
*.sh text eol=lf
*.bat text eol=crlf
gradlew text eol=lf
gradlew.bat text eol=crlf

# Binary
*.jar binary
*.class binary
*.png binary
*.jpg binary
*.ico binary
